<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>可视化Charts</title>
    <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
</head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<body>

<div id="main" style="width: 800px;height:500px;margin: 0 auto;"></div>

<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    var option = {
        xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [820, 932, 901, 934, 1290, 1330, 1320],
            type: 'line'
        }]
    };

    myChart.setOption(option);
</script>
<script>
    $.ajax({
        type: "post",
        async: true,
        url: "/echarts",
        dataType: "json",
        success: function (result) {
            console.log(result);
            if (result) {
                var obj = eval('(' + result + ')');
                myChart.hideLoading();
                myChart.setOption({
                    xAxis: {
                        data: ["AA", "BB"]
                    },
                    series: [{
                        data: result,
                        itemStyle : { normal: {label : {show: true}}}
                    }]
                });
            }
        },
        error: function (errorMsg) {
            //请求失败时执行该函数
            alert("请求数据失败!");
            myChart.hideLoading();
        }
    });
</script>
</body>
</html>