<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>富文本添加</title>
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="../static/css/fontawesome.min.css"/>
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="../static/css/templatemo-style.css">
</head>
<body>
<div id="editor">
</div>
{#<button id="btn1" class="btn btn-primary btn-block text-uppercase mb-3">获取html</button>#}
<button id="btn2" class="btn btn-primary btn-block text-uppercase mb-3">添加便签</button>
<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<script type="text/javascript" src="{{ url_for('static', filename='wangEditor.js') }}"></script>
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor')
    // 或者 var editor = new E( document.getElementById('editor') )
    editor.create()

    document.getElementById('btn2').addEventListener('click', function () {
        // 读取 text
        alert("正在添加。。。")
        var data = {
            "info": editor.txt.text()
        };
        $.ajax({
            type: 'POST',
            url: 'text02',
            data: data,
            dataType: 'text',
            success: function (data) {
                console.log(data);
                parent.location.reload()
            },
            error: function (xhr, type) {
            }
        });

    }, false)
</script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery-3.3.1.min.js"></script>
</body>
</html>